<!DOCTYPE HTML>
<html lang="{{ language }}">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    {{> head}}

    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0">
    <meta name="theme-color">
    <meta name="format-detection" content="telephone=no,email=no,address=no">

    <link rel="icon" href="{{ path_to_root }}favicon.ico">
    <link rel="icon" type="image/png" href="{{ path_to_root }}favicon.png">

    <link rel="apple-touch-icon" href="{{ path_to_root }}apple-touch-icon.png">
    <!--<meta name="apple-mobile-web-app-capable" content="yes">-->

    <link rel="manifest" href="{{ path_to_root }}manifest.json">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:site_name" content="Commentary of Dotfiles">
    <meta property="og:url" content="https://coralpink.github.io/commentary/">

    <meta name="twitter:card" content="summary_image">

    <link rel="stylesheet" href="{{ path_to_root }}css/general.css" async>
    <link rel="stylesheet" href="{{ path_to_root }}css/chrome.css" async>
  </head>
  <body>
    {{> header}}

    <div class="top-bar">
      <div id="menu-bar" class="menu-bar">
        <div class="left-buttons">
          <button id="sidebar-toggle" class="icon-button" type="button" title="Toggle Table of Contents (Shortkey: T )" aria-label="Toggle Table of Contents" aria-controls="sidebar"></button>
          <button id="theme-toggle" class="icon-button" type="button" title="Change theme" aria-label="Change theme"
  aria-haspopup="true" aria-expanded="false" aria-controls="theme-list"></button>
          <ul id="theme-list" class="theme-popup" aria-label="Themes" role="menu">
            <li role="none"><button role="menuitem" class="theme" id="au-lait">Au Lait</button></li>
            <li role="none"><button role="menuitem" class="theme" id="latte">Latte</button></li>
            <li role="none"><button role="menuitem" class="theme" id="frappe">Frappé</button></li>
            <li role="none"><button role="menuitem" class="theme" id="macchiato">Macchiato</button></li>
            <li role="none"><button role="menuitem" class="theme" id="mocha">Mocha</button></li>
          </ul>

          {{#if search_enabled}}
          <button id="search-toggle" class="icon-button" type="button" title="Toggle Search Box (Shortkey: / )"
  aria-label="Toggle Search Box" aria-expanded="false" aria-keyshortcuts="S" aria-controls="searchbar"></button>

          <div id="search-wrapper" class="hidden">
            <form id="searchbar-outer" class="searchbar-outer">
              <input type="search" id="searchbar" name="searchbar" placeholder="Search this book ..."
                aria-controls="searchresults-outer" aria-describedby="searchresults-header">
            </form>
            <div id="searchresults-outer" class="searchresults-outer hidden">
              <div id="searchresults-header" class="searchresults-header"></div>
              <ul id="searchresults"></ul>
            </div>
          </div>
          {{/if}}
        </div>

        <div class="menu-title">{{ book_title }}</div>

        <div class="right-buttons icon-button">
          {{#if git_repository_url}}
          <a href="{{git_repository_url}}" title="Git repository" aria-label="Git repository" target="_blank" rel="noopener"></a>
          {{/if}}
        </div>
      </div>
    </div>

    <div id="page" class="page">
      <div id="sidebar" class="sidebar" aria-label="Site map">
        <nav id="side-scroll" class="sidebar-scrollbox">
          {{#toc}}{{/toc}}
        </nav>
      </div>

      <div id="content" class="content">
        <spacer></spacer>

        <main id="main">
          {{{ content }}}

          <nav class="nav-wrapper" aria-label="Page navigation">
            {{#previous}}
            <a rel="prev" href="{{ path_to_root }}{{link}}" class="nav-chapters previous icon-button" title="Previous chapter" aria-label="Previous chapter" aria-keyshortcuts="Left"></a>
            {{/previous}}

            {{#next}}
            <a rel="next" href="{{ path_to_root }}{{link}}" class="nav-chapters next icon-button" title="Next chapter" aria-label="Next chapter" aria-keyshortcuts="Right"></a>
            {{/next}}
          </nav>
        </main>

        <spacer></spacer>

        <div class="righttoc" aria-label="Table of contents">
          <nav class="pagetoc"></nav>
        </div>
      </div>
    </div>

    <link rel="stylesheet" href="{{ path_to_root }}css/style.css" async>
    <link rel="stylesheet" href="{{ path_to_root }}fonts/fonts.css" async>
    {{#each additional_css}}<link rel="stylesheet" href="{{ ../path_to_root }}{{ this }}" async>{{/each}}

    <script defer type="module" src="{{ path_to_root }}book.js" id = "bookjs" data-pathtoroot="{{ path_to_root }}"></script>
    {{#each additional_js}}<script defer src="{{ ../path_to_root }}{{this}}"></script>{{/each}}
  </body>
</html>
