<!DOCTYPE HTML>
<html lang="{{ language }}" dir="{{ text_direction }}" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    {{> head}}

    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color">
    <meta name="format-detection" content="telephone=no,email=no,address=no">

    <link rel="icon" href="{{ resource "favicon.ico"}}">
    <link rel="icon" type="image/svg+xml" href="{{ resource "favicon.svg"}}">

    <link rel="apple-touch-icon" href="{{ resource "apple-touch-icon.png"}}">

    <link rel="manifest" href="{{ resource "manifest.json"}}">

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://coralpink.github.io/commentary/" />
    <meta property="og:image" content="https://coralpink.github.io/commentary/goal.webp" />

    <meta property="og:site_name" content="Commentary of Dotfiles">
    <meta property="og:description" content="{{ description }}">

    <link rel="stylesheet" href="{{ resource "css/general.css"}}">
    <link rel="preload" href="{{ resource "css/style.css"}}" as="style" onload="this.rel='stylesheet'">

    <script type="module" src="{{ resource "book.js"}}" id="bookjs" data-pathtoroot="{{ path_to_root }}"></script>
  </head>
  <body>
    <header id="top-bar">
      <div id="menu" aria-label="Action menu">
        <div id="left-buttons">
          <button data-target="sidebar" class="icon-button" title="Toggle Page List (Shortkey: T )" aria-label="Toggle Page List" aria-keyshortcuts="T" aria-controls="sidebar">
            <div class="icon-sidebar fa-icon"></div>
          </button>
          <button popovertarget="theme-list" data-target="theme-selector" class="icon-button" title="Change theme" aria-label="Change theme" aria-haspopup="true" aria-expanded="false" aria-controls="theme-list">
            <div class="icon-theme fa-icon"></div>
          </button>
          <button data-target="search" class="icon-button" title="Toggle Search Box (Shortkey: / )" aria-label="Toggle Search Box" aria-expanded="false" aria-keyshortcuts="/" aria-controls="search-pop">
            <div class="icon-search fa-icon"></div>
          </button>
        </div>

        <div id="book-title">{{ book_title }}</div>

        <div id="right-buttons">
          {{#if git_repository_url}}
          <address>
            <a href="{{git_repository_url}}" title="Open the GitHub repository" aria-label="Open the GitHub repository." target="_blank">
              <div class="icon-github fa-icon"></div>
            </a>
          </address>
          {{/if}}
        </div>
      </div>
    </header>

    <div id="page">
      <aside id="sidebar" aria-label="Site map"></aside>
      <main id="main">
        <article id="article">
          {{{ content }}}

          <nav id="nav-wrapper" aria-label="Page navigation">
            {{#previous}}
            <a rel="prev" href="{{ path_to_root }}{{link}}" class="chapters" id="prev" aria-label="Previous chapter: {{title}}">
              <div class="icon-prev fa-icon"></div>
              {{title}}
            </a>
            {{/previous}}
            {{#next}}
            <a rel="next" href="{{ path_to_root }}{{link}}" class="chapters" id="next" aria-label="Next chapter: {{title}}">
              {{title}}
              <div class="icon-next fa-icon"></div>
            </a>
            {{/next}}
          </nav>
        </article>
      </main>

      <aside class="compact-container" aria-label="Action menu">
        <button data-target="sidebar" class="icon-button" title="Toggle Page List (Shortkey: T )" aria-label="Toggle Page List" aria-keyshortcuts="T" aria-controls="sidebar">
          <div class="icon-sidebar fa-icon"></div>
        </button>
        <button popovertarget="theme-list" data-target="theme-selector" class="icon-button" title="Change theme" aria-label="Change theme" aria-haspopup="true" aria-expanded="false" aria-controls="theme-list">
          <div class="icon-theme fa-icon"></div>
        </button>
        <button data-target="search" class="icon-button" title="Toggle Search Box (Shortkey: / )" aria-label="Toggle Search Box" aria-expanded="false" aria-keyshortcuts="/" aria-controls="search-pop">
          <div class="icon-search fa-icon"></div>
        </button>
      </aside>

      <aside class="toc-container" aria-label="Table of contents">
        <div id="table-of-contents"></div>

        <button id="toc-toggle" class="icon-button" title="Toggle Table of Contents" aria-label="Toggle Table of Contents" aria-controls="table-of-contents">
          <div class="icon-menu fa-icon"></div>
        </button>
      </aside>

    </div>

    <div id="search-pop" tabindex="-1" popover role="dialog" aria-label="Search">
      <input type="search" id="searchbar" name="searchbar" placeholder="Search this book ..." aria-controls="searchresults" aria-describedby="results-header">

      <div id="results-header" aria-live="polite"></div>
      <ul id="searchresults" role="listbox" aria-multiselectable="false" aria-orientation="vertical"></ul>
    </div>

    <script>
      (async()=>{if("serviceWorker"in navigator)
      try{await navigator.serviceWorker.register("{{resource "serviceworker.js"}}",{scope:"/commentary/"})}
      catch(r){console.error(`Registration failed with ${r}`)}})();
    </script>
  </body>
</html>
