<!DOCTYPE HTML>
<html lang="{{ language }}" class="sidebar-visible {{ default_theme }}">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    {{> head}}

    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <meta name="theme-color">

    <meta name="format-detection" content="telephone=no,email=no,address=no">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:site_name" content="Commentary of Dotfiles">
    <meta property="og:url" content="https://coralpink.github.io/commentary/">

    <meta name="twitter:card" content="summary_image">
    <link rel="apple-touch-icon" href="{{ path_to_root }}favicon.png" sizes="100x100">

    {{#if favicon_svg}}
    <link rel="icon" href="{{ path_to_root }}favicon.svg">
    {{/if}}
    {{#if favicon_png}}
    <link rel="shortcut icon" href="{{ path_to_root }}favicon.png">
    {{/if}}

    <link rel="stylesheet" href="{{ path_to_root }}css/general.css">
    <link rel="stylesheet" href="{{ path_to_root }}css/chrome.css">

  </head>
  <body>
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WMN96QT" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <script src="{{ path_to_root }}start.js" id="start" data-defaulttheme="{{ default_theme }}"></script>

      {{> header}}
      <div id="menu-bar" class="menu-bar">
        <div class="left-buttons">
          <button id="sidebar-toggle" class="icon-button" type="button" title="Toggle Table of Contents" aria-label="Toggle Table of Contents" aria-controls="sidebar">
            <i class="fa-list-ul"></i>
          </button>
          <button id="theme-toggle" class="icon-button" type="button" title="Change theme" aria-label="Change theme" aria-haspopup="true" aria-expanded="false" aria-controls="theme-list">
            <i class="fa-palette"></i>
          </button>
          <ul id="theme-list" class="theme-popup" aria-label="Themes" role="menu">
            <li role="none"><button role="menuitem" class="theme" id="latte">Latte</button></li>
            <li role="none"><button role="menuitem" class="theme" id="frappe">Frappé</button></li>
            <li role="none"><button role="menuitem" class="theme" id="macchiato">Macchiato</button></li>
            <li role="none"><button role="menuitem" class="theme" id="mocha">Mocha</button></li>
          </ul>

          {{#if search_enabled}}
          <button id="search-toggle" class="icon-button" type="button" title="Search. (Shortkey: s)" aria-label="Toggle Searchbar" aria-expanded="false" aria-keyshortcuts="S" aria-controls="searchbar">
            <i class="fa-magnifying-glass"></i>
          </button>

          <div id="search-wrapper" class="hidden">
            <form id="searchbar-outer" class="searchbar-outer">
              <input type="search" id="searchbar" name="searchbar" placeholder="Search this book ..."
                aria-controls="searchresults-outer" aria-describedby="searchresults-header">
            </form>
            <div id="searchresults-outer" class="searchresults-outer hidden">
              <div id="searchresults-header" class="searchresults-header"></div>
              <ul id="searchresults"></ul>
            </div>
          </div>
          {{/if}}
        </div>

        <div class="menu-title">{{ book_title }}</div>

        <div class="right-buttons">
          {{#if print_enable}}
          <a href="{{ path_to_root }}print.html" title="Print this book" aria-label="Print this book">
            <i id="print-button" class="fa-print"></i>
          </a>
          {{/if}}
          {{#if git_repository_url}}
          <a href="{{git_repository_url}}" title="Git repository" aria-label="Git repository">
            <i id="git-repository-button" class="fa-github {{git_repository_icon}}"></i>
          </a>
          {{/if}}
          {{#if git_repository_edit_url}}
          <a href="{{git_repository_edit_url}}" title="Suggest an edit" aria-label="Suggest an edit">
            <i id="git-edit-button" class="fa-pen-to-square"></i>
          </a>
          {{/if}}
        </div>
      </div>

    <div class="page">
      <div id="sidebar" class="sidebar" aria-label="Table of contents">
        <nav class="sidebar-scrollbox">
          {{#toc}}{{/toc}}
        </nav>
      </div>

      <div id="content" class="content">
        <spacer class="left"></spacer>

        <main>
          {{{ content }}}

          <nav class="nav-wrapper" aria-label="Page navigation">
            {{#previous}}
              <a rel="prev" href="{{ path_to_root }}{{link}}" class="nav-chapters previous" title="Previous chapter" aria-label="Previous chapter" aria-keyshortcuts="Left">
                <i class="fa-angle-left"></i>
              </a>
            {{/previous}}

            {{#next}}
              <a rel="next" href="{{ path_to_root }}{{link}}" class="nav-chapters next" title="Next chapter" aria-label="Next chapter" aria-keyshortcuts="Right">
                <i class="fa-angle-right"></i>
              </a>
            {{/next}}
          </nav>
        </main>

        <spacer class="right"></spacer>

        <div class="righttoc">
          <nav class="pagetoc"></nav>
        </div>
      </div>
    </div>

    <link rel="stylesheet" href="{{ path_to_root }}fonts/fonts.css" async>

    {{#if print_enable}}
    <link rel="stylesheet" href="{{ path_to_root }}css/print.css" media="print" async>
    {{/if}}

    {{#each additional_css}}
    <link rel="stylesheet" href="{{ ../path_to_root }}{{ this }}" async>
    {{/each}}

    {{#if search_js}}
    <script src="{{ path_to_root }}elasticlunr.min.js"></script>
    <script src="{{ path_to_root }}mark.es6.min.js"></script>
    <script src="{{ path_to_root }}searcher.js" id="searcher" data-pathtoroot="{{ path_to_root }}"></script>
    <script src="{{ path_to_root }}fzf.umd.js" id="searcher" data-pathtoroot="{{ path_to_root }}"></script>
    {{/if}}

    {{#if playground_copyable}}
    <script src="{{ path_to_root }}clipboard.min.js"></script>
    <script>window.playground_copyable = true;</script>
    {{/if}}

    <script src="{{ path_to_root }}highlight.min.js"></script>
    <script src="{{ path_to_root }}book.js" id="book" data-defaulttheme="{{ default_theme }}"></script>

    {{#if mathjax_support}}
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {{/if}}

    {{#each additional_js}}
    <script async src="{{ ../path_to_root }}{{this}}"></script>
    {{/each}}
  </body>
</html>
