<!DOCTYPE HTML>
<html lang="{{ language }}" dir="{{ text_direction }}" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    {{> head}}

    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0">
    <meta name="theme-color">
    <meta name="format-detection" content="telephone=no,email=no,address=no">

    <link rel="icon" href="{{ path_to_root }}favicon.ico">
    <link rel="icon" type="image/svg+xml" href="{{ path_to_root }}favicon.svg">

    <link rel="apple-touch-icon" href="{{ path_to_root }}apple-touch-icon.png">
    <!--<meta name="apple-mobile-web-app-capable" content="yes">-->

    <link rel="manifest" href="{{ path_to_root }}manifest.json">

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://coralpink.github.io/commentary/" />
    <meta property="og:image" content="https://coralpink.github.io/commentary/goal.webp" />

    <meta property="og:site_name" content="Commentary of Dotfiles">
    <meta property="og:description" content="{{ description }}">

    <link rel="stylesheet" href="{{ path_to_root }}css/general.css">
    <link rel="preload" href="{{ path_to_root }}css/style.css" as="style" onload="this.rel='stylesheet'">

    <script type="module" src="{{ path_to_root }}book.js" id="bookjs" data-pathtoroot="{{ path_to_root }}" defer></script>

    {{#each additional_css}}<link rel="preload" href="{{ ../path_to_root }}{{ this }} as="style" onload="this.rel='stylesheet'"">{{/each}}
    {{#each additional_js}}<script src="{{ ../path_to_root }}{{ this }}" defer></script>{{/each}}
  </head>
  <body>
    <div id="top-bar">
      <div id="menu">
        <div id="left-buttons">
          <button id="sidebar-toggle" class="icon-button" title="Toggle Table of Contents (Shortkey: T )" aria-label="Toggle Table of Contents" aria-keyshortcuts="T" aria-controls="sidebar">
            <div class="icon-sidebar fa-icon"></div>
          </button>

          <button popovertarget="theme-list" id="theme-selector" class="icon-button" title="Change theme" aria-label="Change theme" aria-haspopup="true" aria-expanded="false" aria-controls="theme-list">
            <div class="icon-theme fa-icon"></div>
          </button>

          <button id="search-toggle" class="icon-button" title="Toggle Search Box (Shortkey: / )" aria-label="Toggle Search Box" aria-expanded="false" aria-keyshortcuts="S" aria-controls="searchbar">
            <div class="icon-search fa-icon"></div>
          </button>

          <div id="search-wrapper">
            <form id="searchbar-outer">
              <input type="search" id="searchbar" name="searchbar" placeholder="Search this book ..."
                aria-controls="searchresults-outer" aria-describedby="searchresults-header">
            </form>
            <div id="searchresults-outer" tabindex="-1" popover>
              <div id="searchresults-header"></div>
              <ul id="searchresults"></ul>
            </div>
          </div>
        </div>

        <div id="book-title">{{ book_title }}</div>

        <div id="right-buttons">
          {{#if git_repository_url}}
          <address>
            <a href="{{git_repository_url}}" title="Open the GitHub repository" aria-label="Open the GitHub repository." target="_blank">
              <div class="icon-github fa-icon"></div>
            </a>
          </address>
          {{/if}}
        </div>
      </div>
    </div>

    <div id="page">
      <aside id="sidebar" aria-label="Site map">
        <nav id="sidebar-scrollbox" role="navigation" aria-live="polite" aria-busy="true"></nav>
      </aside>

      <main>
        <article id="article">
          {{{ content }}}

          <nav id="nav-wrapper" aria-label="Page navigation">
            {{#previous}}
            <a rel="prev" href="{{ path_to_root }}{{link}}" id="nav-chapters" aria-label="Previous chapter: {{title}}">
              <div class="icon-prev fa-icon"></div>
              {{title}}
            </a>
            {{/previous}}
            {{#next}}
            <a rel="next" href="{{ path_to_root }}{{link}}" id="nav-chapters" aria-label="Next chapter: {{title}}">
              {{title}}
              <div class="icon-next fa-icon"></div>
            </a>
            {{/next}}
          </nav>
        </article>
      </main>

      <aside id="table-of-contents"></aside>
    </div>

    <script>
      (async()=>{if("serviceWorker"in navigator)
      try{await navigator.serviceWorker.register("{{path_to_root}}serviceworker.js",{scope:"/commentary/"})}
      catch(r){console.error(`Registration failed with ${r}`)}})();
    </script>
  </body>
</html>
